In [1]:
!pip install pandas
import pandas as pd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [16]:
#Series Data Structure: Just like a 1-D array and can have multiple types of data
data = [1,2,3,4,5]
series = pd.Series(data)
print(series)
print(series.shape)

0    1
1    2
2    3
3    4
4    5
dtype: int64
(5,)

In [11]:
# Series with different index
data = [1,2,3,'a']
index = ['a','b','c','d']

series = pd.Series(data,index=index)
print(series)

a    1
b    2
c    3
d    a
dtype: object

In [2]:
## DATA FRAME: A 2-d tabular data structure
data =  {
    'col1':[1,2,3],
    'col2':[2,3,None],

    'col3':["AZAN","USMAN","UMAR"]
}

df = pd.DataFrame(data)
print(df)

   col1  col2   col3
0     1   2.0   AZAN
1     2   3.0  USMAN
2     3   NaN   UMAR

In [4]:
# creating dataframe by list of dictionaries
data = [
    {'col1':1,'col2':2,'col3':"AZAN"},
    {'col1':2,'col2':3,'col3':"USMAN"},
    {'col1':3,'col2':None,'col3':"UMAR"}
]

df = pd.DataFrame(data)
print(df)

   col1  col2   col3
0     1   2.0   AZAN
1     2   3.0  USMAN
2     3   NaN   UMAR

In [6]:
#get top n and last n rows
print(df.head(2))

print(df.tail(1))

   col1  col2   col3
0     1   2.0   AZAN
1     2   3.0  USMAN
   col1  col2  col3
2     3   NaN  UMAR

In [9]:
#Accessing data from dataframe
# if i pick a column it will give me the series

print((df['col1']))
print((type(df['col1'])))

0    1
1    2
2    3
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

In [11]:
# data manipulations with dataframes

# adding a new column
df['new_col'] = [1,2,3]
df

   col1  col2   col3  new_col
0     1   2.0   AZAN        1
1     2   3.0  USMAN        2
2     3   NaN   UMAR        3

In [14]:
# droping column
df.drop('new_col',axis = 1,inplace=True)
df

KeyError: "['new_col'] not found in axis"

In [16]:
# Arithmetics in column
df['col1'] = df['col1']+1
df

   col1  col2   col3
0     2   2.0   AZAN
1     3   3.0  USMAN
2     4   NaN   UMAR